In [1]:
#que 1
"""
A database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, manipulation, and management of the data. It provides a mechanism for storing, managing, and querying large amounts of information.
Structure: SQL databases are based on a structured data model known as the relational model. Data is organized into tables with predefined schemas, consisting of rows and columns. Relationships between tables are established using keys.
Structure: NoSQL databases use a variety of data models, such as key-value, document, columnar, or graph, rather than the strict relational model. They offer more flexible schemas and allow for dynamic changes in the structure of the data."""

'\nA database is a structured collection of data that is organized and stored in a way that allows efficient retrieval, manipulation, and management of the data. It provides a mechanism for storing, managing, and querying large amounts of information.\nStructure: SQL databases are based on a structured data model known as the relational model. Data is organized into tables with predefined schemas, consisting of rows and columns. Relationships between tables are established using keys.\nStructure: NoSQL databases use a variety of data models, such as key-value, document, columnar, or graph, rather than the strict relational model. They offer more flexible schemas and allow for dynamic changes in the structure of the data.'

In [2]:
#que2
"""DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.
The CREATE statement is used to create new database objects such as tables, views, indexes, or constraints.
The DROP statement is used to remove or delete existing database objects, such as tables or views.
The ALTER statement is used to modify the structure of existing database objects, such as adding or renaming columns, changing data types, or modifying constraints.
The TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact."""

'DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.\nThe CREATE statement is used to create new database objects such as tables, views, indexes, or constraints.\nThe DROP statement is used to remove or delete existing database objects, such as tables or views.\nThe ALTER statement is used to modify the structure of existing database objects, such as adding or renaming columns, changing data types, or modifying constraints.\nThe TRUNCATE statement is used to remove all data from a table, while keeping the table structure intact.'

In [3]:
#que3
"""DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are responsible for inserting, updating, and deleting data in database tables.
The INSERT statement is used to insert new records or rows into a database table.
The UPDATE statement is used to modify existing records in a database table.
The DELETE statement is used to remove records from a database table."""

'DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are responsible for inserting, updating, and deleting data in database tables.\nThe INSERT statement is used to insert new records or rows into a database table.\nThe UPDATE statement is used to modify existing records in a database table.\nThe DELETE statement is used to remove records from a database table.'

In [4]:
#que 4
"""DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL is primarily focused on the SELECT statement, which is used to specify the data to be retrieved and the conditions for filtering the data.
"""

'DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL is primarily focused on the SELECT statement, which is used to specify the data to be retrieved and the conditions for filtering the data.\n'

In [5]:
#que 5
"""
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record or row in that table. It serves as a unique identifier for the records and ensures data integrity by enforcing uniqueness and providing a means for efficient data retrieval. 
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It represents a reference to the primary key column(s) of another table, creating a logical connection between the two tables."""

'\nPrimary Key:\nA primary key is a column or a set of columns in a database table that uniquely identifies each record or row in that table. It serves as a unique identifier for the records and ensures data integrity by enforcing uniqueness and providing a means for efficient data retrieval. \nA foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. It represents a reference to the primary key column(s) of another table, creating a logical connection between the two tables.'

In [ ]:
#que 6
pip install mysql-connector-python
import mysql.connector

# Establishing a connection
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing SQL queries
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetching the results
results = cursor.fetchall()

# Printing the results
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

In [ ]:
#que 7